<h1 class="title" id="title">Login</h1>
<p class="sub-title">Hello! Log in with your email.</p>

<form (submit)="login()"
      [formGroup]="loginForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-email">Email address:</label>
    <input autofocus fullWidth id="input-email" formControlName="email" name="email" nbInput pattern=".+@.+\..+" placeholder="Email address">
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">Password:</label>
    <input fullWidth id="input-password" formControlName="password" name="password" nbInput placeholder="Password" type="password">
  </div>
  <div class="form-control-group accept-group">
    <nb-checkbox name="rememberMe" formControlName="rememberme">Remember me</nb-checkbox>
  </div>

  <button fullWidth nbButton type="submit" status="success">Sign In</button>
</form>

<section aria-label="Register" class="another-action">
  Don't have an account? <a class="text-link" routerLink="/auth/register">Sign Up</a>
</section>
