<h1 class="title" id="title">Register</h1>

<form (submit)="register()"
      [formGroup]="registerForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-email">Full name:</label>
    <input autofocus fullWidth id="input-name" formControlName="name" name="name" nbInput placeholder="Full name">
  </div>

  <div class="form-control-group">
    <label class="label" for="input-email">Username:</label>
    <input autofocus fullWidth id="input-username" formControlName="username" name="username" nbInput placeholder="Username">
  </div>

  <div class="form-control-group">
    <label class="label" for="input-email">Email address:</label>
    <input autofocus fullWidth id="input-email" formControlName="email" name="email" nbInput pattern=".+@.+\..+" placeholder="Email address">
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">Password:</label>
    <input fullWidth id="input-password" formControlName="password" name="password" nbInput placeholder="Password" type="password">
  </div>

  <button fullWidth nbButton type="submit" status="success">Sign In</button>
</form>

<section aria-label="Register" class="another-action">
  Don't have an account? <a class="text-link" routerLink="/auth/login">Sign Up</a>
</section>
