<div class="row">
  <div class="col-lg-8">
    <nb-card>
      <nb-card-header>Upload Files</nb-card-header>
      <nb-card-body>
          <div class="form-group">
            <label class="label">Ambetter_BOB_December</label>
            <input type="file" nbInput fullWidth (change)="catchFile1($event)" >
          </div>
          <div class="form-group">
            <label class="label">Ambetter_Nov_Comm</label>
            <input type="file" nbInput fullWidth (change)="catchFile2($event)">
          </div>
          <div class="form-group">
            <label class="label">Sherpa_File</label>
            <input type="file" nbInput fullWidth (change)="catchFile3($event)">
          </div>

          <button type="submit" (click)="submitFiles()" nbButton status="primary">Submit</button>
      </nb-card-body>
    </nb-card>
  </div>

</div>
